
#pragma once

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/* layer */
#define BASE 0
#define NUM 1
#define SYM 2
#define ACCENT 3
#define FUNC 4
#define SETTING 5

/* keycode */
#define NONE &none
#define THROUGH &trans

#define CTLSPC &mt LCTRL SPACE
#define SFTZ &mt RSHFT Z
#define SFTBASH &mt LSHFT BSLH

#define BSFUNC &lt FUNC BSPC

#define NUMT &tog NUM

#define SYML &mo SYM
#define ACC &mo ACCENT
#define FNC &mo FUNC
#define SET &mo SETTING

#define RETBASE &to BASE
#define SETTO &to SYM

/* device tree */

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
};

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
};

/ {
    keymap {
        compatible = "zmk,keymap";
        base_layer {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T   &kp Y  &kp U  &kp I  &kp O  &kp P
                &kp A  &kp S  &kp D  &kp F  &kp G   &kp H  &kp J  &kp K  &kp L  &kp SLASH
                SFTZ   &kp X  &kp C  &kp V  &kp B   &kp N  &kp M  &kp COMMA &kp DOT SFTBASH
                                   CTLSPC   SYML    BSFUNC  NUMT
            >;
        };
        num_layer {
            bindings = <
                &kp TAB  NONE  NONE  &kp ESC    NONE    &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp MINUS  &kp PLUS
                NONE     NONE  NONE  &kp ENTER  NONE    &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp SLASH  &kp ASTRK
                NONE     NONE  NONE  NONE       NONE    &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp PRCNT  &kp EQUAL
                                  THROUGH  &kp LSHFT    &kp KP_N0  THROUGH
            >;
        };
        sym_layer {
            bindings = <
                &kp TAB  &kp DQT  &kp HASH    &kp ESC    &kp AMPS     &kp LPAR  &kp RPAR  NONE      NONE       &kp APOS
                &kp AT   &kp END  &kp HOME    &kp ENTER  NONE         &kp LBRC  &kp RBRC  NONE      &kp ASTRK  &kp ASTRK
                &kp LT   &kp GT   &kp PIPE2   NONE       NONE         &kp LBKT  &kp RBKT  &kp EXCL  &kp QMARK  NONE
                                                   NONE  THROUGH    THROUGH  NONE
                >;
        };  
        accent_layer {
            bindings = <
                NONE  NONE  NONE  NONE  NONE   NONE  NONE  NONE  NONE  NONE
                NONE  NONE  NONE  NONE  NONE   NONE  NONE  NONE  NONE  NONE
                NONE  NONE  NONE  NONE  NONE   NONE  NONE  NONE  NONE  NONE
                                  NONE  NONE   NONE  NONE
            >;
        };
        func_layer {
            bindings = <
                &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    NONE     NONE      &kp UP    NONE       NONE
                &kp F6  &kp F7  &kp F8  &kp F9  &kp F10   NONE     &kp LEFT  &kp DOWN  &kp RIGHT  NONE
                NONE    NONE    NONE    NONE    NONE      &kp F11  &kp F12   NONE      NONE       NONE
                                            SETTO ACC     THROUGH  NONE
            >;
        };
        settings_layer {
            bindings = <
                &bootloader  &sys_reset   NONE         NONE         NONE           &bootloader  &sys_reset  NONE  NONE  NONE
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   NONE         NONE        NONE  NONE  NONE
                &out OUT_USB &out OUT_BLE &bt BT_CLR   NONE         NONE           NONE         NONE        NONE  NONE  NONE
                                                  NONE      RETBASE             NONE     RETBASE
            >;
        };
    };
};
